<footer>
	<div class="container">
		<div class="footer-content">
			<ul class="social-icons">
				<li>
					<%= link_to 'http://www.facebook.com/TryWebenrich', :target => '_blank', class: 'fb-footer' do %>
					<% end %>
				</li>
				<li>
					<%= link_to 'http://plus.google.com/+WebenrichSolutions/about', :target => '_blank', class: 'gp-footer' do %>
					<% end %>
				</li>
				<li>
					<%= link_to 'http://twitter.com/webenrich', :target => '_blank', class: 'tw-footer' do %>
					<% end %>
				</li>
				<li>
					<%= link_to 'http://www.linkedin.com/company/webenrich', :target => '_blank', class: 'ln-footer' do %>
					<% end %>
				</li>
			</ul>
			<p>
				Copyrights © 2009-2026. All Rights Reserved
			</p>
		</div>
		<p>
			<%= link_to "Visit Desktop Version", 'http://www.webenrich.com/?mobile=0', class: 'visit-website-btn' %>
		</p>
	</div>
</footer>
