<nav>
	<div class="container">
		<ul class="main-nav">
			<%= nav_link 'Home', '/' %>
			<%= nav_link 'About Us', about_us_path %>
			<%= nav_link 'Services', services_path %>
			<%= nav_link 'Portfolio', portfolio_home_path %>
			<%= nav_link 'Clients', clients_home_path %>
			<%= nav_link 'Testimonials', "/testimonials" %>
			<%= nav_link 'Careers', career_home_path %>
			<%#= nav_link 'Blog', '#' %>
			<%= nav_link 'Contact Us', contact_us_path %>
		</ul>
	</div>
</nav>