<div class="tp-banner-container">
	<div class="tp-banner">
		<ul>
		<!-- our company slide1 start -->
			<li data-transition="fade" data-slotamount="1" data-delay="10000"  data-saveperformance="on">
				<!-- MAIN IMAGE -->
				<%= image_tag '', alt: 'citybg', data: { lazyload: image_url('slideshowimages/ourcompany1img/banner1-bg.jpg'), bgposition: 'right top', kenburns: 'on', duration: '12000', ease: 'Power0.easeInOut', bgfit: '115', bgfitend: '100', bgpositionend: 'center bottom'}%>
				<!-- LAYERS -->
				<div class="tp-caption customin customout"
					data-x="195"
					data-y="30"
					data-customin="x:0;y:0;z:0;rotationX:-360;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-customout="x:0;y:0;z:0;rotationX:-360;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-start="1500"
					data-speed="700"
					data-easing="Power1.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-endeasing="Power3.easeInOut"
					>
					<%= image_tag '', alt: 'citybg', data: { lazyload: image_url('slideshowimages/ourcompany1img/img1.jpg')}, width: "186px", height: "160px" %>
				</div>
				<div class="tp-caption customin customout"
					data-x="395"
					data-y="30"
					data-customin="x:0;y:0;z:0;rotationX:360;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-customout="x:0;y:0;z:0;rotationX:360;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-start="2500"
					data-speed="700"
					data-easing="Power1.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-endeasing="Power3.easeInOut"
					>
					<%= image_tag '', alt: 'citybg', data: { lazyload: image_url('slideshowimages/ourcompany1img/banner1-img2.png')}, width: "186px", height: "160px" %>
				</div>
				<div class="tp-caption customin customout"
					data-x="595"
					data-y="30"
					data-customin="x:0;y:0;z:0;rotationX:-360;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-customout="x:0;y:0;z:0;rotationX:-360;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-start="1900"
					data-speed="700"
					data-easing="Power1.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-endeasing="Power3.easeInOut"
					>
					<%= image_tag '', alt: 'citybg', data: { lazyload: image_url('slideshowimages/ourcompany1img/mobile-txt-img.jpg')}, width: "186px", height: "160px" %>
				</div>
				<div class="tp-caption customin customout"
					data-x="795"
					data-y="30"
					data-customin="x:0;y:0;z:0;rotationX:360;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-customout="x:0;y:0;z:0;rotationX:360;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-start="2900"
					data-speed="700"
					data-easing="Power1.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-endeasing="Power3.easeInOut"
					>
					<%= image_tag '', alt: 'citybg', data: { lazyload: image_url('slideshowimages/ourcompany1img/banner1-img4.png')}, width: "186px", height:"160px" %>
				</div>
				<div class="tp-caption customin customout"
					data-x="195"
					data-y="203"
					data-customin="x:0;y:0;z:0;rotationX:360;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-customout="x:0;y:0;z:0;rotationX:360;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-start="2300"
					data-speed="700"
					data-easing="Power1.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-endeasing="Power3.easeInOut"
					>
					<%= image_tag '', alt: 'citybg', data: { lazyload: image_url('slideshowimages/ourcompany1img/banner1-img5.png')}, width: "186px", height:"160px" %>
				</div>
				<div class="tp-caption customin customout"
					data-x="395"
					data-y="203"
					data-customin="x:0;y:0;z:0;rotationX:-360;rotationY: 0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-customout="x:0;y:0;z:0;rotationX:-360;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-start="1700"
					data-speed="700"
					data-easing="Power1.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-endeasing="Power3.easeInOut"
					>
					<%= image_tag '', alt: 'citybg', data: { lazyload: image_url('slideshowimages/ourcompany1img/img3.jpg')}, width: "186px", height: "160px" %>
				</div>
				<div class="tp-caption customin customout"
					data-x="595"
					data-y="203"
					data-customin="x:0;y:0;z:0;rotationX:360;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-customout="x:0;y:0;z:0;rotationX:360;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-start="2700"
					data-speed="700"
					data-easing="Power1.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-endeasing="Power3.easeInOut"
					>
					<%= image_tag '', alt: 'citybg', data: { lazyload: image_url('slideshowimages/ourcompany1img/banner1-img7.png')}, width: "186px", height: "160px" %>
				</div>
				<div class="tp-caption customin customout"
					data-x="795"
					data-y="203"
					data-customin="x:0;y:0;z:0;rotationX:-360;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-customout="x:0;y:0;z:0;rotationX:-360;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-start="2100"
					data-speed="700"
					data-easing="Power1.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-endeasing="Power3.easeInOut"
					>
					<%= image_tag '', alt: 'citybg', data: { lazyload: image_url('slideshowimages/ourcompany1img/banner1-img8.jpg')}, width: "186px", height:"160px" %>
				</div>
			</li>
		<!-- our company slide1 end -->
		<!-- our company slide2 start -->
			<li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-delay="10000"  data-saveperformance="on">
				<!-- MAIN IMAGE -->
				<%= image_tag '', alt: 'citybg', data: { lazyload: image_url('slideshowimages/ourcompany2img/banner2-bg.jpg'), bgposition: 'right top', kenburns: 'on', duration: '12000', ease: 'Power0.easeInOut', bgfit: '115', bgfitend: '100', bgpositionend: 'center bottom'} %>
				<!-- LAYERS -->
				<div class="tp-caption lft rs-parallaxlevel-0"
					data-x="165"
					data-y="30"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="1500"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 11;">
					<%= image_tag '', size: "443x335", alt: 'citybg', data: { lazyload: image_url('slideshowimages/ourcompany2img/ban2-img1.png')} %>
				</div>
				<div class="tp-caption customin customout"
					data-x="625"
					data-y="30"
					data-customin="x:0;y:0;z:0;rotationX:360;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-customout="x:0;y:0;z:0;rotationX:360;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-start="1700"
					data-speed="700"
					data-easing="Power1.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-endeasing="Power3.easeInOut"
					>
					<%= image_tag '', size: "186x160", alt: 'citybg', data: { lazyload: image_url('slideshowimages/ourcompany2img/banner2-img2.jpg')} %>
				</div>
				<div class="tp-caption customin customout"
					data-x="826"
					data-y="30"
					data-customin="x:0;y:0;z:0;rotationX:0;rotationY:360;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:360;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="2300"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 11;">
					<%= image_tag '', size: "186x160", alt: 'citybg', data: { lazyload: image_url('slideshowimages/ourcompany2img/banner2-img6.png')} %>
				</div>
				<div class="tp-caption customin customout"
					data-x="625"
					data-y="204"
					data-customin="x:0;y:0;z:0;rotationX:0;rotationY:-360;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:-360;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="2100"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 11;">
					<%= image_tag '', size: "186x160", alt: 'citybg', data: { lazyload: image_url('slideshowimages/ourcompany2img/banner2-img7.png')} %>
				</div>
				<div class="tp-caption customin customout"
					data-x="826"
					data-y="204"
					data-customin="x:0;y:0;z:0;rotationX:-360;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-customout="x:0;y:0;z:0;rotationX:-360;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="1900"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 11;">
					<%= image_tag '', size: "186x160", alt: 'citybg', data: { lazyload: image_url('slideshowimages/ourcompany2img/banner2-img8.jpg')} %>
				</div>
			</li>
		<!-- our company slide2 end -->
		<!--aviation log book slide start-->
			<li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-delay="10000"  data-saveperformance="on">
				<!-- MAIN IMAGE -->
				<%= image_tag '', alt: 'citybg', data: { lazyload: image_url('slideshowimages/aviationlogbookimg/banner-bg.jpg'), bgposition: 'right top', kenburns: 'on', duration: '12000', ease: 'Power0.easeInOut', bgfit: '115', bgfitend: '100', bgpositionend: 'center bottom'} %>
				<!-- LAYERS -->
				<div class="tp-caption lft rs-parallaxlevel-0"
					data-x="205"
					data-y="61"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="1900"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 126;">
					<%= image_tag '', size: "381x309", alt: 'citybg', data: { lazyload: image_url('slideshowimages/aviationlogbookimg/banner-img-2.png')} %>
				</div>
				<div class="tp-caption lfl rs-parallaxlevel-0"
					data-y="2"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="1000"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 56;">
					<%= image_tag '', size: "477x401", alt: 'citybg', data: { lazyload: image_url('slideshowimages/aviationlogbookimg/banner-img-1.png')} %>
				</div>
				<div class="tp-caption lfb rs-parallaxlevel-0"
					data-y="117"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="1000"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 126;right:0 !important">
					<%= image_tag '', size: "336x298", alt: 'citybg', data: { lazyload: image_url('slideshowimages/aviationlogbookimg/banner-img-6.png')} %>
				</div>
				<div class="tp-caption lft rs-parallaxlevel-0"
					data-x="595"
					data-y="0"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="1500"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 2;">
					<%= image_tag '', size: "618x254", alt: 'citybg', data: { lazyload: image_url('slideshowimages/aviationlogbookimg/banner-img-5.png')} %>
				</div>
				<div class="tp-caption sft rs-parallaxlevel-0 "
					data-x="615"
					data-y="110"
					data-speed="500"
					data-start="2200"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 4;">
					<%= image_tag '', size: "141x36", alt: 'citybg', data: { lazyload: image_url('slideshowimages/aviationlogbookimg/banner-img-3.png')} %>
				</div>
				<div class="tp-caption lft rs-parallaxlevel-0 "
					data-x="615"
					data-y="154"
					data-speed="500"
					data-start="2400"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 4;">
					<%= image_tag '', size: "329x40", alt: 'citybg', data: { lazyload: image_url('slideshowimages/aviationlogbookimg/banner-img-4.png')} %>
				</div>
				<div class="tp-caption lfb rs-parallaxlevel-0 "
					data-x="615"
					data-y="204"
					data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="500"
					data-start="2500"
					data-easing="Power3.easeInOut"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-linktoslide="next"
					style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">
					<%= link_to "VIEW DETAILS", 'http://www.webenrich.com/portfolio/aviation-logbook',target: "_blank", class: 'btn btn-warning vist-btn', :rel => 'no-follow' %>
				</div>
				<div class="tp-caption arrowicon customin rs-parallaxlevel-0"
					data-x="735"
					data-y="215"
					data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="300"
					data-start="3200"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-linktoslide="next"
					style="z-index: 13;">
					<%= image_tag '', size: "11x11", alt: 'citybg', class:"visit-arrow", data: { lazyload: image_url('slideshowimages/aviationlogbookimg/banner-button-arrow.png')} %>
				</div>
			</li>
		<!--aviation slide end-->
		<!--root slide start-->
			<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
				<!-- MAIN IMAGE -->
				<%= image_tag '', alt: 'citybg', data: { lazyload: image_url('slideshowimages/rootimg/continnum-banner-bg.jpg'), bgposition: 'right top', kenburns: 'on', duration: '12000', ease: 'Power0.easeInOut', bgfit: '115', bgfitend: '100', bgpositionend: 'center bottom'} %>
				<!-- LAYER NR. 1 -->
				<div class="tp-caption lft rs-parallaxlevel-0"
					data-x="975"
					data-y="83"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="1000"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 2;">
					<%= image_tag '', size: "273x273", alt: 'citybg', data: { lazyload: image_url('slideshowimages/rootimg/ruby-logo.png')} %>
				</div>
				<div class="tp-caption lft rs-parallaxlevel-0"
					data-x="70"
					data-y="43"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="1400"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 3;">
					<%= image_tag '', size: "405x327", alt: 'citybg', data: { lazyload: image_url('slideshowimages/rootimg/desktop-pic.png')} %>
				</div>
				<div class="tp-caption lfr rs-parallaxlevel-0"
					data-x="300"
					data-y="159"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="1600"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 4;">
					<%= image_tag '', size: "346x203", alt: 'citybg', data: { lazyload: image_url('slideshowimages/rootimg/laptop-pic.png')} %>
				</div>
				<div class="tp-caption lfr rs-parallaxlevel-0"
					data-x="550"
					data-y="216"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="1900"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 4;">
					<%= image_tag '', size: "97x144", alt: 'citybg', data: { lazyload: image_url('slideshowimages/rootimg/mobile-pic.png')} %>
				</div>
				<div class="tp-caption lft rs-parallaxlevel-0"
					data-x="657"
					data-y="99"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="2300"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 11;">
					<%= image_tag '', size: "146x33", 	alt: 'citybg', data: { lazyload: image_url('slideshowimages/rootimg/contunnum-logo.png')} %>
				</div>
				<div class="tp-caption lfb rs-parallaxlevel-0 "
					data-x="657"
					data-y="154"
					data-speed="500"
					data-start="2500"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 4;">
					<%= image_tag '', size: "329x65", alt: 'citybg', data: { lazyload: image_url('slideshowimages/rootimg/txt-pic.png')} %>
				</div>
				<div class="tp-caption lfb rs-parallaxlevel-0 "
					data-x="657"
					data-y="230"
					data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="500"
					data-start="2900"
					data-easing="Power3.easeInOut"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-linktoslide="next"
					style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">
					<%= link_to "VIEW DETAILS", 'http://www.webenrich.com/portfolio/continuum', target: "_blank", class: 'btn btn-warning vist-btn', :rel => 'no-follow' %>
				</div>
				<div class="tp-caption arrowicon customin rs-parallaxlevel-0"
					data-x="783"
					data-y="240"
					data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="300"
					data-start="3200"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-linktoslide="next"
					style="z-index: 13;">
					<%= image_tag '', size: "11x11", alt: 'citybg', class:"visit-arrow", data: { lazyload: image_url('slideshowimages/rootimg/banner-button-arrow.png')} %>
						
				</div>
			</li>
		<!--root slide end-->
		<!--movierainbow slide start-->
			<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
				<!-- MAIN IMAGE -->
				<%= image_tag '', alt: 'citybg', data: { lazyload: image_url('slideshowimages/moiverainbowimg/mr-banner-bg1.jpg'), bgposition: 'right top', kenburns: 'on', duration: '12000', ease: 'Power0.easeInOut', bgfit: '135', bgfitend: '100', bgpositionend: 'center bottom'} %>
				<!-- LAYER NR. 1 -->
				<div class="tp-caption lfr rs-parallaxlevel-0"
					data-y="175"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="1000"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 2;right:5px !important">
					<%= image_tag '', size: "347x215", alt: 'citybg', data: { lazyload: image_url('slideshowimages/moiverainbowimg/right-graphic.png')} %>
				</div>
				<div class="tp-caption lfl rs-parallaxlevel-0"
					data-y="179"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="1400"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 3;">
					<%= image_tag '', size: "518x254", alt: 'citybg', data: { lazyload: image_url('slideshowimages/moiverainbowimg/left-graphic.png')} %>
				</div>
				<div class="tp-caption lfb rs-parallaxlevel-0"
					data-x="300"
					data-y="48"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="1600"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 4;">
					<%= image_tag '', size: "715x361", alt: 'citybg', data: { lazyload: image_url('slideshowimages/moiverainbowimg/reel-bg.png')} %>
				</div>
				<div class="tp-caption lft rs-parallaxlevel-0"
					data-x="150"
					data-y="35"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="2100"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 4;">
					<%= image_tag '', size: "327x315", alt: 'citybg', data: { lazyload: image_url('slideshowimages/moiverainbowimg/clap.png')} %>
				</div>
				<div class="tp-caption lfb rs-parallaxlevel-0 "
					data-x="487"
					data-y="154"
					data-speed="500"
					data-start="2500"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 4;">
					<%= image_tag '', size: "329x65", alt: 'citybg', data: { lazyload: image_url('slideshowimages/moiverainbowimg/mr-txt.png')} %>
				</div>
				<div class="tp-caption lfb rs-parallaxlevel-0 "
					data-x="487"
					data-y="230"
					data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="500"
					data-start="2900"
					data-easing="Power3.easeInOut"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-linktoslide="next"
					style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">
					<%= link_to "VIEW DETAILS", 'http://www.webenrich.com/portfolio/movierainbow', target: "_blank", class: 'btn btn-warning vist-btn', :rel => 'no-follow' %>
				</div>
				<div class="tp-caption arrowicon customin rs-parallaxlevel-0"
					data-x="613"
					data-y="240"
					data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="300"
					data-start="3200"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-linktoslide="next"
					style="z-index: 13;">
					<%= image_tag '', size: "11x11", alt: 'citybg', class:"visit-arrow", data: { lazyload: image_url('slideshowimages/moiverainbowimg/banner-button-arrow.png')} %>
				</div>
			</li>
		<!--movierainbow slide end-->
		<!--iam green slide start-->

		<!--iam green slide end-->
		<!--mednamics slide start-->
			<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
				<!-- MAIN IMAGE -->
				<%= image_tag '', alt: 'citybg', data: { lazyload: image_url('slideshowimages/mednamics/banner6-bg.jpg'), bgposition: 'right top', kenburns: 'on', duration: '12000', ease: 'Power0.easeInOut', bgfit: '115', bgfitend: '100', bgpositionend: 'center bottom'} %>
				<!-- LAYER NR -->
				<div class="tp-caption lfb rs-parallaxlevel-0"
					data-x="675"
					data-y="83"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="1000"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 2;">
				</div>
				<div class="tp-caption lfl rs-parallaxlevel-0"
					data-x="90"
					data-y="76"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="1400"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 3;">
					<%= image_tag '', size: "378x300", alt: 'citybg', data: { lazyload: image_url('slideshowimages/mednamics/banner6-img2.png')} %>
				</div>
				<div class="tp-caption lft rs-parallaxlevel-0"
					data-x="340"
					data-y="159"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="1600"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 4;">
					<%= image_tag '', size: "160x210", alt: 'citybg', data: { lazyload: image_url('slideshowimages/mednamics/banner6-img4.png')} %>
				</div>
				<div class="tp-caption lfb rs-parallaxlevel-0"
					data-x="120"
					data-y="229"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="1600"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 4;">
					<%= image_tag '', size: "138x180", alt: 'citybg', data: { lazyload: image_url('slideshowimages/mednamics/banner6-img3.png')} %>
				</div>
				<div class="tp-caption lft rs-parallaxlevel-0 "
					data-x="507"
					data-y="154"
					data-speed="500"
					data-start="2250"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 4;">
					<%= image_tag '', size: "306x61", alt: 'citybg', data: { lazyload: image_url('slideshowimages/mednamics/banner6-imge5.png')} %>
				</div>
				<div class="tp-caption lfb rs-parallaxlevel-0 "
					data-x="506"
					data-y="230"
					data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="500"
					data-start="2900"
					data-easing="Power3.easeInOut"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-linktoslide="next"
					style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">
					<%= link_to "VIEW DETAILS", 'http://www.webenrich.com/portfolio/mednamics', target: "_blank", class: 'btn btn-warning vist-btn', :rel => 'no-follow' %>
				</div>
				<div class="tp-caption arrowicon customin rs-parallaxlevel-0"
					data-x="632"
					data-y="240"
					data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="300"
					data-start="3200"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-linktoslide="next"
					style="z-index: 13;">
					<%= image_tag '', size: "11x11", alt: 'citybg', class:"visit-arrow", data: { lazyload: image_url('slideshowimages/mednamics/banner-button-arrow.png')} %>
				</div>
			</li>
		<!--mednamics slide end-->
		<!--vahrehvah slide start-->
			<li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-delay="10000"  data-saveperformance="on">
				<!-- MAIN IMAGE -->
				<%= image_tag '', alt: 'citybg', data: { lazyload: image_url('slideshowimages/vahrehvahimg/banner-2-img-1.jpg'), bgposition: 'right top', ease: 'Power0.easeInOut', bgfit: 'cover'} %>
				<!-- LAYERS -->
				<div class="tp-caption lfb rs-parallaxlevel-0"
					data-y="72"
					data-customout="x:50;y:0;z:0;rotationX:0;rotationY:0;rotationZ:-90;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="1200"
					data-easing="Back.easeIn"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 11;">
					<%= image_tag '', size: "327x333",  alt: 'citybg', data: { lazyload: image_url('slideshowimages/vahrehvahimg/banner-2-img-2.png')} %>
				</div>
				<div class="tp-caption main-label lfr"
					data-y="149"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:-45;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="800"
					data-start="1200"
					data-easing="Power4.easeOut"
					data-endspeed="300"
					data-endeasing="Power1.easeIn"
					data-captionhidden="off"
					style="z-index: 11;right:0 !important">
					<%= image_tag '', size: "188x231", alt: 'citybg', data: { lazyload: image_url('slideshowimages/vahrehvahimg/banner-2-img-8.png')} %>
				</div>
				<div class="tp-caption lft rs-parallaxlevel-0"
					data-x="755"
					data-y="26"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="1900"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 11;">
					<%= image_tag '', size: "521x370", alt: 'citybg', data: { lazyload: image_url('slideshowimages/vahrehvahimg/banner-2-img-7.png')} %>
				</div>
				<div class="tp-caption customin customout"
					data-x="95"
					data-y="2"
					data-customin="x:0;y:0;z:0;rotationX:;rotationY:;rotationZ:90;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-customout="x:50;y:0;z:0;rotationX:0;rotationY:0;rotationZ:-90;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="2300"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 11;">
					<%= image_tag '', size: "340x393", alt: 'citybg', data: { lazyload: image_url('slideshowimages/vahrehvahimg/banner-2-img-3.png')} %>
				</div>
				<div class="tp-caption lfb rs-parallaxlevel-0"
					data-x="435"
					data-y="230"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="2500"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 11;">
					<%= image_tag '', size: "323x191", alt: 'citybg', data: { lazyload: image_url('slideshowimages/vahrehvahimg/banner-2-img-6.png')} %>
				</div>
				<div class="tp-caption lft rs-parallaxlevel-0"
					data-x="455"
					data-y="20"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="2100"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 11;">
					<%= image_tag '', size: "106x62", 	alt: 'citybg', data: { lazyload: image_url('slideshowimages/vahrehvahimg/banner-2-img-4.png')} %>
				</div>
				<div class="tp-caption lft rs-parallaxlevel-0 "
					data-x="425"
					data-y="100"
					data-speed="500"
					data-start="2500"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 4;">
					<%= image_tag '', size: "329x40", alt: 'citybg', data: { lazyload: image_url('slideshowimages/vahrehvahimg/banner-2-img-5.png')} %>
				</div>
				<div class="tp-caption lfb rs-parallaxlevel-0 "
					data-x="425"
					data-y="155"
					data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="500"
					data-start="2900"
					data-easing="Power3.easeInOut"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-linktoslide="next"
					style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">
						<a href='http://www.webenrich.com/portfolio/vahrehvah' target="_blank" class='btn btn-warning vist-btn' rel="no-follow">VIEW DETAILS</a>
				</div>
				<div class="tp-caption arrowicon customin rs-parallaxlevel-0"
					data-x="549"
					data-y="165"
					data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="300"
					data-start="3200"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-linktoslide="next"
					style="z-index: 13;">
					<%= image_tag '', size: "11x11", alt: 'citybg', class:"visit-arrow", data: { lazyload: image_url('slideshowimages/vahrehvahimg/banner-button-arrow.png')} %>
				</div>
			</li>
		<!--vahrehvah slide end-->
		<!--commercial bank slide start-->
			<li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-delay="10000"  data-saveperformance="on">
				<!-- MAIN IMAGE -->
				<%= image_tag '', alt: 'citybg', data: { lazyload: image_url('slideshowimages/commercialimg/banner5-bg.jpg'), bgposition: 'right top', kenburns: 'on', duration: '12000', ease: 'Power0.easeInOut', bgfit: '115', bgfitend: '100', bgpositionend: 'center bottom'} %>
				<!-- LAYERS -->
				<div class="tp-caption lft rs-parallaxlevel-0"
					data-x="195"
					data-y="50"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="1500"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 11;">
					<%= image_tag '', size: "282x280", alt: 'citybg', data: { lazyload: image_url('slideshowimages/commercialimg/banner5-img2.png')} %>
				</div>
				<div class="tp-caption sfl rs-parallaxlevel-0"
					data-x="395"
					data-y="230"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="1900"
					data-end="8800"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 11;">
					<%= image_tag '', size: "37x30", alt: 'citybg', data: { lazyload: image_url('slideshowimages/commercialimg/img-1.png')} %>
				</div>
				<div class="tp-caption sfl rs-parallaxlevel-0"
					data-x="425"
					data-y="190"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="2100"
					data-end="9000"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 11;">
					<%= image_tag '', size: "55x50", alt: 'citybg', data: { lazyload: image_url('slideshowimages/commercialimg/img-2.png')} %>
				</div>
				<div class="tp-caption sfl rs-parallaxlevel-0"
					data-x="410"
					data-y="245"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="2100"
					data-end="9200"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 11;">
					<%= image_tag '', size: "62x40", alt: 'citybg', data: { lazyload: image_url('slideshowimages/commercialimg/img-3.png')} %>
				</div>
				<div class="tp-caption sfl rs-parallaxlevel-0"
					data-x="470"
					data-y="155"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="2400"
					data-end="9400"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 11;">
					<%= image_tag '', size: "95x80", alt: 'citybg', data: { lazyload: image_url('slideshowimages/commercialimg/img-4.png')} %>
				</div>
				<div class="tp-caption sfl rs-parallaxlevel-0"
					data-x="490"
					data-y="175"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="2700"
					data-end="9800"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 11;">
					<%= image_tag '', size: "95x80", alt: 'citybg', data: { lazyload: image_url('slideshowimages/commercialimg/img-5.png')} %>
				</div>
				<div class="tp-caption sfl rs-parallaxlevel-0"
					data-x="450"
					data-y="255"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="2400"
					data-end="9600"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 11;">
					<%= image_tag '', size: "94x70", alt: 'citybg', data: { lazyload: image_url('slideshowimages/commercialimg/img-6.png')} %>
				</div>
				<div class="tp-caption lft rs-parallaxlevel-0"
					data-x="655"
					data-y="95"
					data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="700"
					data-start="2900"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 11;">
					<%= image_tag '', size: "193x74", alt: 'citybg', data: { lazyload: image_url('slideshowimages/commercialimg/com-bank.png')} %>
				</div>
				<div class="tp-caption lft rs-parallaxlevel-0 "
					data-x="655"
					data-y="185"
				
					data-speed="500"
					data-start="3000"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					style="z-index: 4;">
					<%= image_tag '', size: "280x50", alt: 'citybg', data: { lazyload: image_url('slideshowimages/commercialimg/banner5-img4.png')} %>
				</div>
				<div class="tp-caption lfb rs-parallaxlevel-0 "
					data-x="655"
					data-y="245"
					data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="500"
					data-start="3100"
					data-easing="Power3.easeInOut"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-linktoslide="next"
					style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">
					<%= link_to "VISIT WEBSITE", 'http://www.cbq.qa/EN/Personal/Pages/default.aspx',target: "_blank", class: 'btn btn-warning vist-btn', :rel => 'no-follow' %>
				</div>
				<div class="tp-caption arrowicon customin rs-parallaxlevel-0"
					data-x="780"
					data-y="256"
					data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
					data-speed="300"
					data-start="3200"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-linktoslide="next"
					style="z-index: 13;">
					<%= image_tag '', size: "11x11", alt: 'citybg', class:"visit-arrow", data: { lazyload: image_url('slideshowimages/commercialimg/banner-button-arrow.png')} %>
				</div>
			</li>
		<!--commercial bank slide end-->
		</ul>
		<div class="tp-bannertimer"></div>
		</div>
</div>
