<% content_for :title do %>
	What We Do | WebEnrich Internet Marketing & Web Based services
<% end %>
<% content_for :meta_tags do %>
	<meta name="description" content="Web Enrich Services: Select from the list of Internet Marketing & Web Based services that we offer and Hire us to handle you project successfully">
	<meta name="keywords" content="WebEnrich services, India, internet marketing, online marketing, web based services, hire us, consultant">
<% end %>
<div class="page-banner">
	<div class="services-page">
		<div class="services-content">
			<div class="container">
				<div class="col-md-12">
					<div class="row">
						<%= render 'layouts/parts/servicesmenu' %>
						<div class="services-intro">
							<div class="left-content">
								<%= image_tag 'services-content-img.png',  :alt => 'Services Image', :size => "420x340" %>
							</div>
							<div class="right-content">
								<p>WebEnrich is a fast growing Web Marketing cum Development Company with offices in India and Australia. We have a proven track record for getting websites a top search engine ranking and significantly more traffic and conversions with a good return on investment (ROI).</p>
								<p>We offer a comprehensive collection of tools and professional services to propel your website to dizzying heights of success in all areas of Internet marketing. We design and develop website for you, support with SEO and PPC, expand your reach in the virtual space through social media, and we provide everything else you'd need to succeed online, all in one place!</p>
								<p>Innovative designs, customer-centric services and a talented and experienced team that constantly strives to provide effective solutions to the customers - WebEnrich takes pride in all of them.</p>
								<p>The world of web design and web marketing is fast changing. New algorithms, new product launches, new competitors – all these can out tremendous pressure on the organizations. It is imperative that the business organizations have a reliable, cost-effective and efficient web marketing and development provider on their side. That is why a number of companies have come to rely on WebEnrich.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="services-list">
			<div class="container">
				<div class="col-md-12">
					<div class="row">
						<div class="services-block">
							<div class="col-md-4 col-sm-12">
								<div class="we-services web-design-services">
									<%= link_to '', web_design_path, :class => 'services-bg' %>
									<div class="services-list-content">
										<h3><%= link_to 'Web Design', web_design_path %></h3>
										<ul>
											<li>
												<%= link_to 'Corporate Branding', corporate_branding_path %>
											</li>
											<li>
												<%= link_to 'Mobile Website Design', mobile_website_design_path %>
											</li>
											<li>
												<%= link_to 'Responsive Website Design', responsive_website_design_path %>
											</li>
											<li>
												<%= link_to 'Website Maintenance', website_maintenance_path %>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-4 no-padding-left col-sm-12">
								<div class="we-services web-dev-services">
									<%= link_to '', web_development_path, :class => 'services-bg' %>
									<div class="services-list-content">
										<h3><%= link_to 'Web Development', web_development_path %></h3>
										<ul>
											<li>
												<%= link_to 'Ruby On Rails', ruby_on_rails_path %>
											</li>
											<li>
												<%= link_to 'Core PHP', core_php_path %>
											</li>
											<li>
												<%= link_to 'E-Commerce Development', ecommerce_development_path %>
											</li>
											<li>
												<%= link_to 'CMS Development', cms_development_path %>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-4 no-padding-left col-sm-12">
								<div class="we-services online-marketing-services">
									<div class="services-bg"></div>
									<div class="services-list-content">
										<h3><%= link_to 'Online Marketing', '#' %></h3>
										<ul>
											<li>
												<%= link_to 'Search Engine Optimization', search_engine_optimization_path %>
											</li>
											<li>
												<%= link_to 'Social Media Marketing', social_media_marketing_path %>
											</li>
											<li>
												<%= link_to 'Pay Per Click', pay_per_click_path %>
											</li>
											<li>
												<%= link_to 'Email Marketing', email_marketing_path %>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<hr />
				</div>
				<div class="col-md-12">
					<div class="row extra-margin">
						<div class="services-block">
							<div class="col-md-4 col-sm-12">
								<div class="we-services mobile-app-services">
									<div class="services-bg"></div>
									<div class="services-list-content">
										<h3><%= link_to 'Mobile App Development', '#' %></h3>
										<ul>
											<li>
												<%= link_to 'iPhone iOs Apps Development', '#' %>
											</li>
											<li>
												<%= link_to 'Android Apps Development', '#' %>
											</li>
											<!-- <li>
												<%#= link_to 'Hybrid Apps Development', '#' %>
											</li>
											<li>
												<%#= link_to 'Fire Phone Apps Development', '#' %>
											</li> -->
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-4 no-padding-left col-sm-12">
								<div class="we-services ui-dev-services">
									<div class="services-bg"></div>
									<div class="services-list-content">
										<h3><%= link_to 'UI Development', '#' %></h3>
										<ul>
											<li>
												<%= link_to 'PSD to XHTML', psd_to_xhtml_path %>
											</li>
											<li>
												<%= link_to 'PSD to HTML5 / CSS3', psd_to_html5_path %>
											</li>
											<!-- <li>
												<%#= link_to 'Ajax / JQuery', ajax_path %>
											</li> -->
											<!-- <li>
												<%#= link_to 'JQuery', '#' %>
											</li> -->
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-4 no-padding-left col-sm-12">
								<div class="we-services other-services">
									<div class="services-bg"></div>
									<div class="services-list-content">
										<h3><%= link_to 'Other Services', '#' %></h3>
										<ul>
											<li>
												<%= link_to 'Web Hosting', web_hosting_path %>
											</li><!-- 
											<li>
												<%#= link_to 'Domain Registration', domain_registration_path %>
											</li> -->
											<li>
												<%= link_to 'Content Development', content_development_path %>
											</li>
											<!-- <li>
												<%#= link_to 'Corporate Video Presentation', '#' %>
											</li> -->
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>