<% content_for :title do %>
	Mobile App Development
<% end %>
<div class="services-page">
	<div class="mobile-page-main">
		<div class="main-title">
			<div class="container">
				<h1>
					<%= link_to services_path, :class => 'left' do %>
						<%= image_tag image_path('mobile/back-arrow.png') %>
					<% end %>
					Mobile App Development
					<a class='dropdown-button right' href='#' data-activates='dropdown1'>
						<%= image_tag image_path('mobile/options-icon-white.png') %>
					</a>
					<ul id='dropdown1' class='dropdown-content custom-drpwn-content'>
						<li>
							<%= link_to iphone_path do %>
								<strong>iPhone iOs Apps Development</strong>
							<% end %>
						</li>
						<li>
							<%= link_to android_path do %>
								<strong>Android Apps Development</strong>
							<% end %>
						</li>
						<!-- <li>
							<%#= link_to hybrid_path do %>
								<strong>Hybrid Apps Development</strong>
							<%# end %>
						</li>
						<li>
							<%#= link_to fire_path do %>
								<strong>Fire Phone Apps Development</strong>
							<%# end %>
						</li> -->
					</ul>
				</h1>
			</div>
		</div>
		<div class="container">
			<div class="title-content">
				<div class="services-img">
					<%= image_tag image_path('mobile/mobile-apps-content-img.png'), alt: 'mobile-apps-img' %>
				</div>
			</div>
		</div>
	</div>
	<div class="services-text">
		<div class="container">
			<div class="services-inner-content">
				<div class="mobile-app-content">
					<h2>Web Development Services offered by WebEnrich includes:</h2>
					<p>Creating a visually appealing web design: What is your strategy to stand out amidst millions of websites on the internet? Having a superior or innovative products and services helps but with so many options available in the market you have very little time to convince potential customers to spend enough time on your website to enable yourself to market your products and services.</p>
					<p>This is where our forte lies. Committed to our goal of designing innovative websites which give you that cutting edge, our team at WebEnrich enables you to market yourself better.</p>
				</div>
				<div class="mobile-app-content">
					<h2>Web Development Services offered by WebEnrich includes:</h2>
					<p>Creating a visually appealing web design: What is your strategy to stand out amidst millions of websites on the internet? Having a superior or innovative products and services helps but with so many options available in the market you have very little time to convince potential customers to spend enough time on your website to enable yourself to market your products and services.</p>
					<p>This is where our forte lies. Committed to our goal of designing innovative websites which give you that cutting edge, our team at WebEnrich enables you to market yourself better.</p>
				</div>
				<%= link_to "Continue Reading", '#', :class => 'waves-effect waves-light btn hide' %>
			</div>
		</div>
	</div>
	<div class="list-of-services list-of-detail-services">
		<div class="container">
			<h1>Mobile App Development Services</h1>
			<div class="card">
				<ul>
					<li>
						<%= link_to iphone_path do %>
							<strong>iPhone iOs Apps Development</strong>
						<% end %>
					</li>
					<li>
						<%= link_to android_path do %>
							<strong>Android Apps Development</strong>
						<% end %>
					</li>
<!-- 					<li>
						<%#= link_to hybrid_path do %>
							<strong>Hybrid Apps Development</strong>
						<%# end %>
					</li>
					<li>
						<%#= link_to fire_path do %>
							<strong>Fire Phone Apps Development</strong>
						<%# end %>
					</li> -->
				</ul>
			</div>
		</div>
	</div>
	<!-- our clients -->
	<%= render 'layouts/widgets/our_clients' %>
	<!-- start-project -->
	<%= render 'layouts/widgets/start_project' %>
</div>