<% content_for :title do %>
	Ruby on Rails ROR Development Services Company Hyderabad, Bangalore, India
<% end %>
<div class="page-banner">
	<div class="services-page web-dev-page">
		<div class="services-content">
			<div class="container">
				<div class="col-md-12">
					<div class="row">
						<%= render 'layouts/parts/servicesmenu' %>
						<div class="service-inner-title">
							<h1>Web Development / <span>Ruby on Rails</span></h1>
							<ul class="nav" role="">
								<li>
									<%= link_to 'Ruby on Rails', ruby_on_rails_path, :class =>'active' %>
								</li>
								<li>
									<%= link_to 'Core PHP', core_php_path %>
								</li>
								<li>
									<%= link_to 'E-Commerce Development', ecommerce_development_path %>
								</li>
								<li>
									<%= link_to 'CMS Development', cms_development_path %>
								</li>
							</ul>
						</div>
						<div class="web-dev-intro">
							<!-- <div class="col-md-12">
								<div class="row">
									<div class="web-dev-content web-dev-content-inner">
										<div class="web-dev-img">
											<%#= image_tag 'ruby-innerpage-icon-big.png', :class => 'img-responsive', :alt => 'Services Image' %>
										</div>
										<div class="web-content-para">
											
										</div>
									</div>
								</div>
							</div> -->
							<%= image_tag 'ror-banner-img.png', :class => 'img-responsive ror-banner-img', :alt => 'Services Image' %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="service-inner-content">
			<div class="container">
				<div class="col-md-12">
					<div class="col-md-6 mobile-content">
						<p>We are one of India's top few Ruby on Rails development companies. We are passionate about code quality, performance and agility.Technologies such as Ruby on Rails, allows us to implement your ideas faster than you might believe and we can easily turn challenging projects into outstanding web applications.</p>
						<p>We specialize in web and software development using Ruby, Rails, HTML5 and other latest technologies such as Node.js, Backbone.js, Angular.js and cloud technology such as Amazon AWS and Heroku.</p>
					</div>
					<div class="row">
						<div class="col-md-6 mobile-content">
							<h2>We have developed many large-scale &amp; complex ROR applications, below are few areas we have worked on:</h2>
							<ul class="mobile-services">
								<li>Social Networking</li>
								<li>Web Applications</li>
								<li>Classifieds</li>
								<li>Ecommerce</li>
								<li>Portals</li>
								<li>Content Management System</li>
								<li>Data Visualization</li>
							</ul>
							<p><%= link_to 'Contact', contact_us_path %> us now to discuss your requirements in detail.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>