<% content_for :title do %>
	SEO Services Hyderabad, Bangalore Company | Outsource SEO India
<% end %>
<% content_for :meta_tags do %>
	<meta name="description" content="Try our advanced SEO strategy based, result oriented Search Engine Optimization (SEO) services. Talk to our professional SEO consultants in Vizag, Hyderabad, Bangalore now.  Hundreds of websites have benefited from our hassle free service.">
	<meta name="keywords" content="SEO services, SEO company India, Delhi, Bangalore, Vizag, Hyderabad, SEO expert, SEO consultant, search engine optimization, outsource, consultants">
<% end %>
<div class="services-page">
	<div class="mobile-page-main mobile-page-inner">
		<div class="main-title">
			<div class="container">
				<h1>
					<%= link_to online_marketing_path, :class => 'left' do %>
						<%= image_tag image_path('mobile/back-arrow.png') %>
					<% end %>
					Search Engine Optimization
				</h1>
			</div>
		</div>
		<div class="container">
			<div class="title-content">
				<div class="services-img services-inner-img">
					<%= image_tag image_path('mobile/seo-icon-big.png'), alt: 'services-inner-img' %>
				</div>
			</div>
		</div>
	</div>
	<div class="services-text seo-content">
		<div class="container">
			<p>
				You might have the jazziest website ever put together by the best design team ever. But if your website doesn't appear in search engine results, all your effort and expertise will go in vain. WebEnrich helps your business website appear in the top search engine results, consistently.
			</p>
			<article>
				Our team of SEO analysts is adept at creating content that is search engine friendly. They base their analysis and content development on your requirements and follow industry's best practices.
			</article>
		</div>
	</div>
	<div class="container">
		<div class="services-text services-inner-content seo-online">
			<p>Are you a subject matter expert in a particular domain? Then your search engine popularity is bound to stay high, industry pundits say. For instance, let's consider the topic of 'best SEO practices for a business'. Naturally there will be tens of questions and searches on this topic. If you manage to hold 3 or 4 of the top 10 spots on any given query, you are 500% more likely to get the call. So how do you clinch the top position in search engine results?</p>
			<p>That's where our SEO strategies come handy.</p>
			<p>We help you develop the right kind of marketing campaigns, the kind that will drive more traffic to your site and eventually increase your sales. Not just that- we also offer value added services like online reputation management, frequent up gradations, post marketing research and analysis.</p>
			<p>WebEnrich provides you a holistic SEO solution that is tailor-made to suit your needs. Our SEO team takes care of on-page optimization to help you sustain your search engine visibility. We also perform off-page tasks such as link building, blogs, social bookmarking, etc. These measures ensure that your online presence is strong and secure, which is crucial for a business website's survival.</p>
		</div>
	</div>
	<div class="list-of-services list-of-detail-services">
		<div class="container">
			<div class="list-of-services-inner">
				<h1>Online marketing</h1>
				<div class="card">
					<ul>
						<li>
							<%= link_to social_media_marketing_path do %>
								<strong>Social Media Marketing</strong>
							<% end %>
						</li>
						<li>
							<%= link_to pay_per_click_path do %>
								<strong>Pay Per Click</strong>
							<% end %>
						</li>
						<li>
							<%= link_to email_marketing_path do %>
								<strong>Email Marketing</strong>
							<% end %>
						</li>
					</ul>
				</div>
			</div>	
		</div>
	</div>
	<!-- our clients -->
	<%= render 'layouts/widgets/our_clients' %>
	<!-- start-project -->
	<%= render 'layouts/widgets/start_project' %>
</div>