<% content_for :title do %>
	Clients of WebEnrich - A Web Marketing, Design & Development Company
<% end %>
<% content_for :meta_tags do %>
	<meta name="description" content="WebEnrich's client base includes global leaders and companies from following areas of business like Aviation, Online FundRaising, Coupons, Technology - IT, Real Estate, B2B, B2C, Health, Hospitality services.">
	<meta name="keywords" content="Clients, seo, ppc, sem, web design, development, webenrich">
<% end %>
<div class="page-banner">
	<div class="services-page clients-page">
		<div class="clients-content">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="about-we">
							<div class="banner-title">
								<h2>Clients</h2>
							</div>
							<div class="about-intro">
								<p>WebEnrich has had the privilege of working with some of the best clients, as well as many exciting entrepreneurial and start-up companies. No matter what size the client, we are dedicated to providing the highest quality work and the greatest possible return on investment.</p>
							</div>							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="client-inner-content">
			<div class="container">
				<div class="col-md-12">
					<div class="client-logos">
						<div class="row">
							<div class="col-md-8 col-sm-12">
								<div class="row">
									<ul>
										<li><%= image_tag "iamgreen-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "skanda-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "aviation-log-book-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "icfai-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "mednamics-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "pdotg-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "vahrehvah-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "calender-labs-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "abodes-india-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "amanthra-spa-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "anti-piracy-guru-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "ats-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "aviamo-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "bii-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "biim-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "business-bridge-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "career-bridge-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "computer-user-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "deepthi-homes-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "dhatri-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "doran-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "dumpster-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "eoto-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "fundly-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "globus-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "gokulam-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "ias-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "lb-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "musk-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "my-dictionary-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "natures-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "one-continent-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "pegasys-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "property-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "rits-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "rockmore-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "rummy-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "sport-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "swadar-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "tfs-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "the-grt-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "trend-fx-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "ventre-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "vjx-Aviation-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "ww-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "bims-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "piryx-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "proptiger-logo.jpg", :alt => 'client-logo' %></li>										
										<li><%= image_tag "aayusiddhi-logo.jpg", :alt => 'client-logo' %></li>
										<li><%= image_tag "liquor-bazar-logo.jpg", :alt => 'client-logo' %></li>
									</ul>
								</div>
							</div>	
							<div class="col-md-1 spacer hidden-sm"></div>
							<div class="col-md-3 hidden-sm">
								<div class="enquiry-form-part">
									<%= render 'layouts/widgets/quick_enquiry_form' %>
								</div>
								<div class="testimonials-part">
									<%= render 'layouts/widgets/testimonials' %>
								</div>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
