<% content_for :title do %>
	Corporate Branding
<% end %>
<div class="page-banner">
	<div class="services-page web-dev-page">
		<div class="services-content">
			<div class="container">
				<div class="col-md-12">
					<div class="row">
						<%= render 'layouts/parts/servicesmenu' %>
						<div class="service-inner-title">
							<h1>Web Design / <span>Corporate Branding</span></h1>
							<ul class="nav" role="">
								<li>
									<%= link_to 'Corporate Branding', corporate_branding_path, :class =>'active' %>
								</li>
								<li>
									<%= link_to 'Mobile Website Design', mobile_website_design_path %>
								</li>
								<li>
									<%= link_to 'Responsive Website Design', responsive_website_design_path %>
								</li>
								<li>
									<%= link_to 'Website Maintenance', website_maintenance_path %>
								</li>
							</ul>
						</div>
						<div class="web-dev-intro">
							<div class="col-md-12">
								<div class="row">
									<div class="web-dev-content web-dev-content-inner">
										<div class="web-dev-img">
											<%= image_tag 'corporate-branding-innerpage-icon-big.png', :class => 'img-responsive', :alt => 'Services Image' %>
										</div>
										<div class="web-content-para">
											<p>The best way to popularize your business is through great stationery products. In regards to branding of a business, if there is anything equally important as logo design, it is stationery design. Our team of professional designers is qualified, well trained and equipped for creating awe-inspiring stationery designs that would grab attention and bring you instant recognition and popularity.</p>
											<p>Most businesses consider a logo design a mere formality. So they usually want it done in haste, without giving it the importance it deserves. However, the truth is that your logo is the visual representative of your brand, your company.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="service-inner-content">
			<div class="container">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6 mobile-content">
							<h2>Logo Design</h2>
							<p>Most businesses consider a logo design a mere formality. So they usually want it done in haste, without giving it the importance it deserves. However, the truth is that your logo is the visual representative of your brand, your company. Every time a user clicks on your website, reads your emails or even accepts your business cards, he sees your logo. It makes a great impact on his mind;</p>
							<p>Think of a McDonald's or Nike or Apple. These companies are huge successes because they accurately value the significance of 'a great logo design' and utilize it in selling their product offerings.</p>

							<h2>Benefits of Logo Design:</h2>
							<p>Projects good impression - Makes a good first impression because usually your logo is the first thing your customers see of your company. Once a good impression is made, logo can prove to be a good selling pitch for the company.</p>
							<p>Provides an identity to your company – An outstanding logo design creates an identity for your brand that your customers can easily connect with. Once this connection is secured, customers would be willing to believe in your product and even buy them.</p>
							<p>Makes your customers remember you – What is the immediate response of your user when he sees your logo? Just like Nike reminds users of sport shoes, Maruti reminds them of cars, every strong brand is remembered by the users and that is only because of the company's logo.</p>

							<h2>Why WebEnrich's Logo Design Services</h2>
							<p>WebEnrich is a professional graphic design agency and our forte lies in making your business logo your brand ambassador across the world.</p>
							<p>Logo design services offered by WebEnrich give your business the much needed wings to make your business fly through inaccessible places that your card would have got stuck in. We are already well known in the web design circles for our unique and visually appealing Logos.</p>

							<h2>Logo Design Strategy:</h2>
							<p>All the Logos designed at WebEnrich are done in a series of stages in a systematic manner. We begin with understanding your business requirements then move on to performing, research on the area we feel your business needs to be promoted through, visualizing the concept, iterations on the chosen logo, etc. The final version of the logo design would be in the format of your choice.</p>

							<h2>Our Strength:</h2>
							<p>WebEnrich is a design company that thrives on creativity. Our logo designing services are reasonably priced, our turnaround time impressively short and our support team absolutely reliable.</p>
							<p><strong>Logos for instant recognition - Guaranteed.</strong></p>
						</div>
						<div class="col-md-6 mobile-content">
							<h2>Stationery Design</h2>
							<p>The best way to popularize your business is through great stationery products. In regards to branding of a business, if there is anything equally important as logo design, it is stationery design. Our team of professional designers is qualified, well trained and equipped for creating awe-inspiring stationery designs that would grab attention and bring you instant recognition and popularity.</p>

							<h2>Benefits of a Great Stationery Design Service:</h2>
							<ul class="mobile-services mobile-content-list">
								<li>
									<h2>Makes great impression</h2>
									<p>Remember your business stationery is your company's most visible conversation. Be it business cards or letterheads or brochures, your business stationery makes an impression on your clients and have an effect on the way they perceive your business.</p>
								</li>

								<li>
									<h2>Creates a Reliable Look</h2>
									<p>Professionally designed stationery items help creating a reliable look throughout your business's marketing and branding communication.</p>
								</li>

								<li>
									<h2>Connects Well With the Users</h2>
									<p>Well-designed stationery connects well with the users and reinforces your brand on to their minds. A brand that is strongly etched in the minds of users usually leads to repeat business.</p>
								</li>
							</ul>

							<h2>Why WebEnrich?</h2>
							<p>Quality, affordability and relevance to your business – WebEnrich takes all these into consideration while creating your business stationery.</p>
							<p>Our team of professional stationery designers is both knowledgeable and creative. They first understand your business needs and then offer you designs that blend well with your brand philosophy and project the same effectively.</p>
							<p>At WebEnrich, the typography, layout, color schemes, themes and even the quality of paper used in creating business stationery are chosen with utmost care and discretion. We strongly believe there should be no compromise in quality when it comes to clients' business needs.</p>
							<p>Be assured that an investment in professionally designed stationery will pay off every time you hand out your business card and every time you send a letter to your clients. Clearly, you are not in the crowd of 'generic and forgettable' business stationery users – you are distinct and special.</p>
							<p>WebEnrich uses only high quality print blended with high quality art work that will reflect nicely on your business and company image.</p>
							<p>We do not use substandard material or amateur art while creating business stationery because we understand the importance of stationery quality in improving and managing your brand reputation. And the best part is that our resources and professional contacts help us guarantee a high quality applicable product at affordable prices.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>