<% content_for :title do %>
	Monthly Website Maintenance Services in Hyderabad, Bangalore, India
<% end %>
<% content_for :meta_tags do %>
	<meta name="description" content="Try WebEnrich hassle free and affordable website maintenance services for your regular website changes. You can pay as you go or on a monthly or annual contract for your website tweaks, updates, support maintenance tasks.">
	<meta name="keywords" content="website maintenance, web design maintenance services, tweaks, updates, support, best, affordable, cheap, professional, India">
<% end %>
<div class="page-banner">
	<div class="services-page web-dev-page">
		<div class="services-content">
			<div class="container">
				<div class="col-md-12">
					<div class="row">
						<%= render 'layouts/parts/servicesmenu' %>
						<div class="service-inner-title">
							<h1>Web Design / <span>Website Maintenance</span></h1>
							<ul class="nav" role="">
								<li>
									<%= link_to 'Corporate Branding', corporate_branding_path %>
								</li>
								<li>
									<%= link_to 'Mobile Website Design', mobile_website_design_path %>
								</li>
								<li>
									<%= link_to 'Responsive Website Design', responsive_website_design_path %>
								</li>
								<li>
									<%= link_to 'Website Maintenance', website_maintenance_path, :class =>'active' %>
								</li>
							</ul>
						</div>
						<div class="web-dev-intro">
							<div class="col-md-12">
								<div class="row">
									<div class="web-dev-content web-dev-content-inner">
										<div class="web-dev-img">
											<%= image_tag 'maintenance-innerpage-icon-big.png', :class => 'img-responsive', :alt => 'Services Image' %>
										</div>
										<div class="web-content-para">
											<p>Your website is the mirror of your businesses and like any mirror can develop cracks, so can your business. WebEnrich believes that bad codes and faulty website design can damage your online presence.</p>
											<p>WebEnrich's website maintenance and support services cater to diverse range of problems that your business could face. Our professionals are always prepared to solve any crack that your business may develop, before it actually does.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="service-inner-content">
			<div class="container">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12 mobile-content">
							<h2>Our Services</h2>
							<ul class="mobile-services">
								<li>Elimination of irrelevant and extra codes</li>
								<li>Updating the content on your website from time to time</li>
								<li>Changing the graphics to match the revised text</li>
								<li>Solving any urgent technical issues your website may face instantly.</li>
							</ul>
							<p>We also provide you with a comprehensive report of all that we've done. This makes our business solutions sophisticated, cost effective and very much in demand!</p>
						</div>
						<!-- <div class="col-md-6 mobile-content">
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>