<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>WebEnrich -Contact Details</title>
</head>
	<body style="margin:0; padding:0;">
		<table class="table main-table" cellspacing="0" cellpadding="0" style = "width:100%; height: 420px; background: url(<%= image_url('job-field-bg.jpg')%>) repeat-x top #EBEBEB;">
			<thead>
				<tr>
					<th class="logo" style= "border: 0; text-align: left;">
						<%= image_tag "logo.png", :alt => 'logo', :class => 'img-responsive' %>	
					</th>
				</tr>
			</thead>
			<tbody>
				<tr style="height: 50px;">
					<td style= "border: 0;">
						<h2 style= "font-size: 24px; color:#ffffff; margin: 55px 0 0 56px;">
						Message From <%= @from_page %> Page
						</h2>
					</td>
				</tr>
				<tr>
					<td style= "">
						<table class="table sub-table" style="background: #fff; width: 85%; margin: 0 auto;">
							<tbody>
								<tr>
									<td style="border-top: 1px solid #eeeeee; width: 35%; padding: 8px 8px 8px 20px;">Name</td>
									<td style= "border-top:1px solid #ebebeb; padding: 8px;">
										<%= @name %>
									</td>
								</tr>
								<tr>
									<td style="border-top: 1px solid #eeeeee; width: 35%; padding: 8px 8px 8px 20px;">Email</td>
									<td style= "border-top:1px solid #ebebeb; padding: 8px;"><%= @email %></td>
								</tr>
								<tr>
									<td style="border-top: 1px solid #eeeeee; width: 35%; padding: 8px 8px 8px 20px;">Mobile</td>
									<td style= "border-top:1px solid #ebebeb; padding: 8px;"><%= @phone %></td>
								</tr>								
								<% if @company.present? %>
									<tr>
										<td style="border-top: 1px solid #eeeeee; width: 35%; padding: 8px 8px 8px 20px;">Company Name</td>
										<td style= "border-top:1px solid #ebebeb; padding: 8px;">
												<%= @company %>
										</td>
									</tr>
								<% end %>
								<% if @url.present? %>
								<tr>
									<td style="border-top: 1px solid #eeeeee; width: 35%; padding: 8px 8px 8px 20px;">Url</td>
									<td style= "border-top:1px solid #ebebeb; padding: 8px;"><%= @url %></td>
								</tr>
								<% end %>
								<tr>
									<td style="border-top: 1px solid #eeeeee; width: 35%; padding: 8px 8px 8px 20px;">Message</td>
									<td style= "border-top:1px solid #ebebeb; padding: 8px;"><%= @message %></td>
								</tr>
								<!-- <tr>
									<td style="border-top: 1px solid #eeeeee; width: 35%; padding: 8px 8px 8px 20px;">Best Time To Call</td>
									<td style= "border-top:1px solid #ebebeb; padding: 8px;"><%#= @best_time %> (<%#= @preferred_time %>)</td>
								</tr> -->
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>