<div class="mobile-app-banner">
	<div class="container no-gutter">
		<div class="col-md-12 col-sm-12 no-gutter">
			<div class="banner-title">
				<h3 class="text-uppercase text-center">Mobile App Development</h3>
				<p>
					<span>WebEnrich’s</span> talent pool of mobile app developers includes highly-skilled analysts and UX experts who are well-versed in building apps for <span>iOS</span> and <span>Android</span> platforms.
				</p>
			</div>
		</div>
		<div class="banner-phone-img">
			<div class="col-md-3 col-sm-1"></div>
			<div class="col-md-3 col-sm-4 no-gutter-right">
				<div class="android-phone-img">
					<%= image_tag 'lp/android.png', class: 'img-responsive', size: '208X404' %>
				</div>
			</div>
			<div class="col-md-1 col-sm-2"></div>
			<div class="col-md-4 col-sm-4 no-gutter-left">
				<div class="android-phone-img">
					<%= image_tag 'lp/apple.png', class: 'img-responsive', size: '208X404' %>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="successful-projects">
			<h3 class="text-center"><span>How a Successful <em>Mobile App Development</em> Project Works</span></h3>
			<div class="col-md-3 col-sm-6 no-gutter-left">
				<div class="rapid-bg">
					<div class="content">
						<span>Rapid Results</span>
						<p>Reducing time to market is often paramount to one-up the competition. We emphasize incremental development and rapid prototyping, which means you’ll get working results faster.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 no-gutter-left">
				<div class="transparency-bg">
					<div class="content">
						<span>100% Transparency</span>
						<p>As a WebEnrich customer, you are always in control and fully updated on the project status, and your feedback is critical to the continuous improvement of the mobile solution.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 no-gutter-left">
				<div class="quality-bg">
					<div class="content">
						<span>Better Quality</span>
						<p>To maintain the overall level of quality throughout the project lifecycle, each release is thoroughly tested, and customer feedback is carefully collected to enhance the next version.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 no-gutter-right">
				<div class="guarantee-bg">
					<div class="content">
						<span>Solid Guarantee</span>
						<p>Your mobile app will be delivered within the time and budget constraints specified, and provides for a 6-month warranty period to eliminate any defects discovered after the project is completed.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 no-gutter">
			<div class="starting-project">
				<span class="title">Starting a Project is Easy</span>
				<span class="content">just drop us an email briefly describing your project, and we will get back to you shortly.</span>
				<%= submit_tag 'Start Now!!', class: 'text-center text-uppercase submit-btn' %>
			</div>
		</div>
	</div>
</d	iv>
<%= render 'layouts/parts/lp/about_company' %>
<div class="services-content portfolio-content ror-slide-show">
	<div class="container no-gutter">
		<div class="col-md-12 col-sm-12 no-gutter">
			<div class="banner-title ror-process">
				<h3 class="text-center text-uppercase"><span>Portfolio Of Mobile Apps</span></h3>
			</div>
		</div>
		<%= render 'layouts/parts/lp/mobile_portfolio_slider' %>
	</div>
</div>
<%= render 'layouts/widgets/our_clients' %>
<%= render 'layouts/parts/lp/form' %>