<div class="content-heading">Categories</div>
<!-- Zero Configuration-->
<div class="panel panel-default">
	<div class="panel-body">
		<div class="table-responsive b0">
			<table id="datatable1" class="table table-striped table-hover">
				<thead>
					<tr>
						<th class="wd-md">Category Name</th>
					</tr>
				</thead>
				<tbody>
					<% if @categories.count > 0 %>
						<% @categories.roots.each do |category| %>
							<tr>
								<td><%= link_to category.name, category_path(category.id) %>
								</td>
								<td class="text-left">
									<%= link_to edit_category_path(category), :class => "btn btn-sm btn-default" do %>
										<em class="fa fa-pencil"></em>
									<% end %>
									<%= link_to "/admin/categories/#{category.id}", :class => "btn btn-sm btn-danger", method: :delete, :data => {:confirm => "Are you sure?"} do %>
										<em class="fa fa-trash"></em>
									<% end %>
								</td>
							</tr>
						<% end %>
					<% else %>
						<tr><td><%= flash.now[:notice] = "No records found." %></td></tr>
					<% end %>
				</tbody>
				<%= link_to new_category_path, class: "btn btn-sm btn-primary pull-right" do %>
					<em class="fa fa-plus"></em> Add New
				<% end %>
			</table>
		</div>
	</div>
</div>