<!DOCTYPE html>
<html>
	<%= render 'layouts/parts/head' %>
	<body>
        <script type="text/javascript">
			jQuery(document).ready(function(){
				var status = "<%= alert.present? %>";
				if( status == "true"){
					swal("<%= alert %>", "We will get back you soon!", "success");
				}
			});
        </script>
		<%= render 'layouts/parts/header' %>
		<%= render 'layouts/parts/nav' %>
		<%= yield %>

		<% unless current_page?('/testimonials') || current_page?('/clients') %>
			<div class='clients-slider-part'>
			</div>
		<% end %>
		<% unless current_page?('/request-a-quote') %>
			<%= render 'layouts/widgets/start_project' %>
		<% end %>
		<%= render 'layouts/parts/footer' %>
	</body>
</html>
